@import 'node_modules/bootstrap/dist/css/bootstrap.min.css';
@import 'node_modules/bootstrap-daterangepicker/daterangepicker.css';
@import 'node_modules/@fortawesome/fontawesome-free/css/all.min.css';
/**
 * Landing Page
 */

#landing-bg{
   background-image: url("./assets/landing-bg.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
}

/**
 *
 */