@import 'node_modules/bootstrap/dist/css/bootstrap.min.css';
@import 'node_modules/bootstrap-daterangepicker/daterangepicker.css';
@import 'node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@import 'node_modules/react-calendar-timeline/lib/Timeline.css';
/**
 * Landing Page
 */

#landing-bg{
   background-image: url("./assets/landing-bg.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-left: 0;
}

nav ul li{
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/**
 *
 */